@model MaldiniWorld.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<style>
    .make {
        border: solid;
        background-color: mintcream;
        border-radius: 15px;
        padding: 30px;
        border-color: brown;
        margin-bottom: 30px;
    }

    .toc, h1, .form-group, h2, h4 {
        font-family: Bahnschrift;
        color: brown;
    }

    .form-group {
        font-size: x-large;
    }

    body {
        background-image: url('../../Images/img22.png');
    }
</style>
<div data-scrollreveal="enter top over 1.0s after 0.1s">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="make">
            <h2>@ViewBag.Title.</h2>
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </div>


    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
