
@{
    ViewBag.Title = "Granite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/anim.js"></script>
<style>
       strong {
        color: brown;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .row{margin-left:70px;}
</style>
<h2 data-scrollreveal="enter top over 1.0s after 0.1s">Granite Designs</h2>
@Html.Partial("Pagination")
<div class="passion">

    <div class="row">
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/2.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: SHIVA GOLD</strong><br />
            <strong>ProductCode Design: G101</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/4.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: DARK CORAL SPRING</strong><br />
            <strong>ProductCode Design: G102</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/5.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: CORAL SPRING LIGHT</strong><br />
            <strong>ProductCode Design: G103</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
    </div><br />



    <div class="row">
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/10.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: PERAL PINK </strong><br />
            <strong>ProductCode Design: G104</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/11.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName:WAVE SAND</strong><br />
            <strong>ProductCode Design: G105</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/18.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: ASTORIAL GOLD </strong><br />
            <strong>ProductCode Design: G106</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
    </div><br />

    <div class="row">
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/13.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: RED MULTICOLOR</strong><br />
            <strong>ProductCode Design: G107</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/19.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: BALTIC BROWN</strong><br />
            <strong>ProductCode Design: G108</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
        <div id="first" class="col-md-4 col-xm-4">
            <img class="img-circle" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/20.png?time=1627026420" alt="" width="200" height="200" /><br />
            <strong>ProductName: RUBY RED</strong><br />
            <strong>ProductCode Design: G109</strong><br />
            <button> @Html.ActionLink("Book Design", "Create", "Orders")</button>
        </div>
    </div>
</div>


