@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('../../Images/bg.jpg');
    }

    .row {
        background-color: white;
        border: solid;
        border-radius: 10px;
  
          }
</style>
<div>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">


                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img img-rounded " src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/2.png?time=1627585049" height="300" width="1120" alt="">
                            </div>

                        </div>


                    </div>
                    <div data-scrollreveal="enter top over 1.0s after 0.1s">
                        <h2>
                            <small>Welcome to</small>
                        </h2>
                        <h1>
                            <span class="brand-name">Maldini Granite&Marbles</span>
                        </h1>
                        <hr class="tagline-divider">
                        <h2>
                            <small>Excellence <strong> and Customer Satisfaction.</strong></small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div data-scrollreveal="enter top over 1.0s after 0.1s">
                    <div class="col-lg-12 col-xm-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            Purchase a Design <strong>worth having.</strong>
                        </h2>
                        <hr>
                        <img class="img-circle  " width="400" height="300" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/02/29.png?time=1627585049"/>
                        <hr class="visible-xs">
                        <h2>
                            <small>
                                <p>
                                    We provide designs that suits your taste perfectly, our customers over the years simply chooses us because our designs are meticulus and professional.
                                </p>
                            </small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div data-scrollreveal="enter top over 1.0s after 0.1s">
                    <div class="col-lg-12 col-xm-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            Furniture Designs  <strong>to showcase your taste!</strong>
                        </h2>
                        <hr>
                        <img class=" img-circle" height="300" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0879.png?time=1627269234" />
                        <h2>
                            <small>
                                <p>
                                    Marble or Granite furniture can effectively be used for decorations that complement the home décor and style. Granite or marble furniture (Sculptures) have inherent artistic designs which can be achieved in varying colors. Marble or granite  furniture can also be assembled with variety of bases, ranging from wrought iron, wooden cabinets, or  granites  and marble stone itself.
                                </p>
                            </small>
                        </h2>
                        <a> <p id="cool" class="btn btn-block btn-lg"> @Html.ActionLink("Learn More >>", "furnitures", "Products")</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div data-scrollreveal="enter top over 1.0s after 0.1s">
                    <div class="col-lg-12 col-xm-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            LivingRoom Designs <strong>to showcase your taste!</strong>
                        </h2>
                        <hr>
                        <img class=" img-circle" height="300" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-Nine.png?time=1627269234" />
                        <h2>
                            <small>
                                <p>

                                    The marble tile and slabs we offer is renowned for its ornate, refined beauty. For centuries, marbles tiles and slabs have been a symbol of affluence and air of artistry that make marble finishing a classic choice.

                                    Marble conveys a sense of calm and serenity, and been that we at Maldini are familiar with the inherent quality and beauty which has informed part of our culture in the way we select stones for home and office finishing.
                                </p>
                            </small>
                            <a> <p id="cool" class="btn btn-block btn-lg"> @Html.ActionLink("Learn More >>", "LivingRoom", "Products")</p></a>
                        </h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div data-scrollreveal="enter top over 1.0s after 0.1s">
                    <div class="col-lg-12 col-xm-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            Staircase Designs  <strong>to showcase your taste!</strong>
                        </h2>
                        <hr>
                        <img class=" img-circle" height="300" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Hall-Way.png?time=1627269234" />
                        <h2>
                            <small>
                                <p>
                                    The staircase could be helical/straight, celebrated or completely out of sight, the most important thing however is that the staircase brings you from one level to another in a home or a commercial building. Therefore, natural stones such as marbles or granites are recommended for their durability, resistance to scratch and stain. It also symbolizes luxury, elegance and adds to the aesthetics.


                                </p>
                            </small>
                        </h2>
                        <a> <p id="cool" class="btn btn-block btn-lg"> @Html.ActionLink("Learn More >>", "Staircase", "Products")</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div data-scrollreveal="enter top over 1.0s after 0.1s">
                    <div class="col-lg-12 col-xm-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            RestRoom Designs  <strong>to showcase your taste!</strong>
                        </h2>
                        <hr>
                        <img class=" img-circle"height="300" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3258.png?time=1627269234" />
                        <h2>
                            <small>
                                <p>
                                    The rest room is a hallowed place for many people; it is a place for solace and calmness after a long day. This therefore, means that you need to find the best marbles and granites  that suits your lifestyle.


                                </p>
                            </small>
                        </h2>
                        <a> <p id="cool" class="btn btn-block btn-lg"> @Html.ActionLink("Learn More >>", "RestRoom", "Products")</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div data-scrollreveal="enter top over 1.0s after 0.1s">
                    <div class="col-lg-12 col-xm-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            Kitchen Designs  <strong>to showcase your taste!</strong>
                        </h2>
                        <hr>
                        <img class=" img-circle" height="300" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/Granite-Kitchen-Countertops-Design-With-Contemporary-Kitchen-Interior.jpg?time=1627269234" />
                        <h2>
                            <small>
                                <p>
                                    The kitchen is heart of the home, it is where families get together to cook, eat, socialize and generally make merry. Therefore a careful selection of granites or marble to fit the ambience is paramount


                                </p>
                            </small>
                        </h2>
                        <a> <p id="cool" class="btn btn-block btn-lg"> @Html.ActionLink("Learn More >>", "Kitchen", "Products")</p></a>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
<style>
    .featurette-heading {
        color: aqua;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .row featurette {
        background-color: mintcream;
    }

    #cool {
        color: white;
    }
</style>
<script src="~/Scripts/anim.js"></script>